* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgb(5, 10, 8) 0%,
    rgb(113, 114, 113) 100%
  );
}
.resolutions-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: white;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #000;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.resolutions-form {
  margin-bottom: 32px;
}

.resolutions-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #0b0e0c;
  outline: none;
  width: 320px;
  background: transparent;
  color: #000;
}

.resolutions-input::placeholder {
  color: #000000;
}

.resolutions-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(15, 17, 15) 0%,
    rgb(6, 14, 6) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.resolutions-input.edit {
  border: 2px solid #8d1a0a;
}

.resolutions-button.edit {
  background: linear-gradient(
    90deg,
    rgb(230, 23, 23) 0%,
    rgb(87, 3, 3) 100%
  );
  padding: 16px 22px;
}

.resolution-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.resolution-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.resolution-row:nth-child(3n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.resolution-row:nth-child(3n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.resolution-row:nth-child(3n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.remove-icon {
  margin-right: 5px;
  color: black;
}

.edit-icon {
  color: black;
}